.search {
  height: 100vh;
  padding-top: 56px;
}

.left-components {
  float: left;
}

.spacekit {
  height: 100%;
  width: calc(100% - 840px);
  float: right;
  position: fixed;
  right: 0;
}

.not-active {
  cursor: default;
  text-decoration: none;
  color: black;
}
